body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(214, 167, 109);
}

#div1{
    background-color: rgb(127, 194, 233);
    position:fixed;
    bottom: 100px;

    
}
div{
    background-color: rgb(127, 194, 233);
    position: fixed;
    bottom: 70px;
}

#luna{
    position: absolute;
    top: 100px;
    border: 1px solid rgb(22, 22, 22);
    border-radius: 4px;
    padding: 5px;
    width: 400px;
}

#lunap{
    position:fixed;
    width: 500px;
    height: 400px;
    border: 1px solid rgb(189, 177, 6);
    border-radius: 4px;
}